# Литература
* [Стратификация. Как разбиение выборки повышает чувствительность A/B теста](https://habr.com/ru/companies/X5Tech/articles/596279/)
* [Статья NETFLIX (eng)](https://www.researchgate.net/publication/305997925_Improving_the_Sensitivity_of_Online_Controlled_Experiments_Case_Studies_at_Netflix)

In [4]:
import pandas as pd
import numpy as np

In [3]:
np.random.normal(loc=0.0, scale=1.0, size=10)

array([-0.27437545,  0.44406423, -0.76335209,  0.72742008, -1.1956746 ,
        0.12367731,  1.96947068,  0.57859618, -0.45206457,  0.42792469])

In [24]:
def generate_data(mean_one, mean_two, std_one, std_two, sample_size):
    d_one = {'strat': 0,
         'values': np.random.normal(loc=mean_one, scale=std_one, size=sample_size)}
    d_two = {'strat': 1,
         'values': np.random.normal(loc=mean_two, scale=std_two, size=sample_size)}

    df_one = pd.DataFrame(d_one)
    df_two = pd.DataFrame(d_two)
    df = pd.concat([df_one, df_two], ignore_index=True).sample(sample_size*2)
    return df.iloc[:sample_size // 2]

In [25]:
generate_data(0,0,1,1, 10)

    strat    values
13      1 -1.219251
5       0 -2.101961
2       0  0.543252
18      1  1.052385
9       0 -1.579357

In [18]:
df.sample(20)

    strat    values
18      1 -0.730599
11      1 -0.060297
3       0  0.878867
10      1  1.221468
9       0  0.478420
5       0 -0.886123
14      1  0.769217
7       0  0.220374
15      1 -0.826447
4       0  1.468089
1       0  0.500553
17      1  0.453600
6       0  1.868233
2       0 -1.796599
0       0  0.442936
16      1 -0.602783
8       0 -0.717809
19      1  1.053752
13      1 -0.612972
12      1 -0.730858